@(addressForm: Form[com.universityregistration.model.User.Address], roleType: java.lang.String)

@import helper._
@import helper.twitterBootstrap._
@title = {
	Add an address
}
@adminMain2(title, nav = "studentOptions"){
        			<div class="col-md-9">
					<div style="margin-bottom: 15px">
				<h1 class="page-title">Add Address</h1>
				</div>
	<div class="contentWrapper"><br>
	@helper.form(action = routes.StudentAddressController.submitAddress()){
	
			<legend>Address</legend>
		<div class="row">
		<div class="col-lg-6">	
		@inputText(
            addressForm("street"), 
            '_label -> "Street *",
            'class -> "form-control",
            'required -> "required",
            '_error -> addressForm.globalError
        )
        </div></div>
        		<div class="row">
		<div class="col-lg-3">	
		@inputText(
            addressForm("city"), 
            '_label -> "City *",
            'class -> "form-control",
            'required -> "required",
            '_error -> addressForm.globalError
        )
        </div>
		<div class="col-lg-2">	
		@inputText(
            addressForm("state"), 
            '_label -> "State *",
            'class -> "form-control",
            'required -> "required",
            '_error -> addressForm.globalError
        )
        </div>        
        </div>

        		<div class="row">
		<div class="col-lg-3">	
		@inputText(
			addressForm("zip"),
			'_label -> "Zip code *",
			'class -> "form-control",
			'required -> "required",
			'_error -> addressForm.globalError
		)
		</div></div>
		
		<input type="hidden" name="type" value="@roleType">
		<br>
		<div class="actions">
			<button type="submit" class="btn btn-primary btn-md">Save</button>
		</div>
		<br>
	}
	</div>
	</div>
}