@(student: com.universityregistration.model.User.Student, bp: com.universityregistration.model.BillReport.BillReport)

@import helper._
@import helper.twitterBootstrap._

@title = {
	Bill Summary
}

@studentMain(student, nav="finance"){
    			<div class="col-md-9">
				<div style="margin-bottom: 15px">
				<h1 class="page-title">My Courses</h1>
				</div>
<div class="contentWrapper" style="padding-top: 20px"><br>

	<h3>Bill Summary</h3>
<table class="table table-hover">
		<th>Term</th>
		<th>Year</th>
		<th>Total Credits</th>
		<th>Rate</th>
		<th>Balance</th>
		<tr>
			<td>@bp.getTerm()</td>
			<td>@bp.getYear()</td>
			<td>@bp.getTotalCredits</td>
			<td>@bp.getRate()0</td>
			<td>$@bp.getBalance()0</td>
		</tr>
	</table>

}