@(catalog: com.universityregistration.model.Course.CourseCatalog, prof: com.universityregistration.model.User.Professor, course: com.universityregistration.model.Course.Course)

@adminMain2(Html("Course Successfully Created!"), nav = "courseOptions") {

        			<div class="col-md-9">
					<div style="margin-bottom: 15px">
				<h1 class="page-title">Manage Course Dates</h1>
				</div>
<div class="contentWrapper" style="padding-top: 20px">
<h1>Successfully Created Course Section:
<h3>Course: @course.getCourseId() @course.getCourseName(), </h3>
<h3>Instructor: @prof.getLastName()</h3>
<h3>Catalog: @catalog.getTerm() @catalog.getYear()

</div>
</div>
}