@(emailForm: Form[com.universityregistration.model.User.Email], roleType: java.lang.String, eid: java.lang.Integer)

@import helper._
@import helper.twitterBootstrap._

@title = {
	Add an E-mail
}
@adminMain2(title, nav="studentOptions"){
        			<div class="col-md-9">
					<div style="margin-bottom: 15px">
				<h1 class="page-title">Add New Email</h1>
				</div>	
	<div class="contentWrapper"><br>
	@helper.form(action = routes.EditStudentController.submitEditedEmail(eid)){
		<legend>Email</legend>
				<div class="row">
		<div class="col-lg-4">
		@inputText(
            emailForm("email"), 
            '_label -> "Email Address *",
            'class -> "form-control",
            'type -> "email",
            '_error -> emailForm.globalError
         )
		</div></div>		

		
		<input type="hidden" name="type" value="@roleType">
		<br>
		<div class="actions">
			<button type="submit" class="btn btn-primary btn-md">Save</button>
			<a class ="btn btn-link" href="@routes.EditStudentController.backToStudProfileHome()">Cancel</a>
		</div>
		<br>
	}
</div></div>	
}