@(phoneForm: Form[com.universityregistration.model.User.PhoneNumber], roleType: java.lang.String, pid: java.lang.Integer)

@import helper._
@import helper.twitterBootstrap._

@title = {
	Add a phone number
}
@adminMain2(title, nav="wizard"){

        			<div class="col-md-9">
					<div style="margin-bottom: 15px">
				<h1 class="page-title">Add Phone Contact</h1>
				</div>
	<div class="contentWrapper"><br>

	@helper.form(action = routes.EditStudentController.submitEditedPhone(pid)){
	

		<legend>Phone Number</legend>
		<div class="row">
		<div class="col-lg-3">
		@inputText(
            phoneForm("phonenumber"), 
            '_label -> "Phonenumber *",
            'class -> "form-control", 
            '_error -> phoneForm.globalError
         )
	</div></div>
		
		<input type="hidden" name="type" value="@roleType">
		<br>
		<div class="actions">
			<button type="submit" class="btn btn-primary btn-md">Update</button>
			<a class ="btn btn-link" href="@routes.EditStudentController.backToStudProfileHome()">Cancel</a>
		</div>
		<br>
	}
	</div></div>
}