@(emailForm: Form[com.universityregistration.model.User.Email], roleType: java.lang.String, eid: java.lang.Integer, profId: java.lang.String)

@import helper._
@import helper.twitterBootstrap._

@title = {
	Add an E-mail
}
@adminMain2(title, nav="professorOptions"){

        			<div class="col-md-9">
					<div style="margin-bottom: 15px">
				<h1 class="page-title">Add Email</h1>
				</div>
	<div class="contentWrapper"><br>

	@helper.form(action = routes.EditProfessorController.submitEditedEmail(eid)){
		<div class="row">
		<div class="col-lg-3">
		<legend>Email</legend>
		@inputText(
            emailForm("email"), 
            '_label -> "Email Address *", 
            'class -> "form-control",
            '_error -> emailForm.globalError
         )
		</div></div>
		
		<input type="hidden" name="type" value="@roleType">
		<br>
		<div class="actions">
			<button type="submit" class="btn btn-primary btn-md">Update</button>
						<a class ="btn btn-link" href="@routes.EditProfessorController.backToProfProfileHome()">Cancel</a>
		</div>
		<br>
	}
	</div></div>
}