@(userForm: Form[com.universityregistration.model.User.User])

@import helper._
@import helper.twitterBootstrap._

@title = {
	Assign User Credentials
}
@adminMain2(title, nav="professorOptions"){

        			<div class="col-md-9">
					<div style="margin-bottom: 15px">
				<h1 class="page-title">User Credentials</h1>
				</div>	
	<div class="contentWrapper"><br>

	@helper.form(action = routes.ProfessorCredentialsController.submitCredentials()){
		<legend>Username & Password</legend>
		<div class="row">
		<div class="col-lg-3">		
		@inputText(
            userForm("username"), 
            '_label -> "username *", 
            'class -> "form-control",
            '_error -> userForm.globalError
         )
		</div>
		<div class="col-lg-3">		
		@inputText(
            userForm("password"), 
            '_label -> "password *", 
            'class -> "form-control",
            '_error -> userForm.globalError
         )
		</div>
		</div>
		<br>
		<div class="actions">
			<button type="submit" class="btn btn-primary btn-md">Assign</button>
		</div>
		<br>
	}
	</div>
	</div>
}