@(professor: com.universityregistration.model.User.Professor, nav: String = "")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Professor Portal</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/styles.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">	
        
        
		
			
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	
    </head>
    <body>
        
	    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header myheader">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Professor Portal</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
			<li class="divider-vertical"></li>
			<li><p style="font-style:italic">Welcome back</p></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li>
						<a href="@routes.Application.index">Logout</a>
					</li>
				</ul>			
			</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>	
	
    <div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="account-container">
					<div class="account-avatar">
						<img src="@routes.Assets.at("images/teacher.png")" alt="" class="img-thumbnail" />
					</div> <!-- /account-avatar -->
				
					<div class="account-details">
					
						<span class="account-name">@professor.getFirstName() @professor.getLastName()</span>
						
						<p class="account-role">Professor</p>
						
						<span class="account-actions">
							
							
							<a href="#">@professor.getEmail.get(0).getEmail()</a>
						</span>
					
					</div> <!-- /account-details -->
				
				</div> <!-- /account-container -->
				
				<hr class="myHr" />
				
				<ul id="main-nav" class="nav nav-pills nav-stacked">
					<li class="@("active".when(nav == "dash"))">
						<a href="@routes.UserLogin.professorHome(professor.getID())">Dashboard</a>
					</li>
					<li class="@("active".when(nav == "profile"))">
						<a href="@routes.EditProfessorController.getProfessorInfoPR(professor.getID())">
							<i class="icon-pushpin"></i>
							Personal Profile
						</a>
					</li>
					<li class="@("active".when(nav == "mycourses"))">
						<a href="@routes.MyProfCourses.allMyCourses(professor.getID())">
							<i class="icon-th-list"></i>
							My Courses & Gradebook
						</a>
					</li>					
					<!--<li>
						<a href="#">
							<i class="icon-th-large"></i>
								
							<span class="label label-warning pull-right">5</span>
						</a>
					</li>-->
				</ul>	
				
				<hr />
				
				<div class="sidebar-extra">

				</div> <!-- .sidebar-extra -->
				
				<br />
		
			</div> <!-- /span3 -->
			

				@content
			<!-- /col-md-9 -->
	</div>
    </div> <!-- /container -->
        <!--
		Bootstrap core JavaScript: Put at end to load document faster
		-->
		
		<script src="@routes.Assets.at("javascripts/jquery-1.10.2.min.js")"></script>
		
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
		
		<script type="text/javascript">
			jQuery(document).ready(function ($) {
			$('#tabs').tab();
			});
		</script> 
		
    </body>
</html>