@adminMain2(Html("Form samples"), nav="datesOptions") {
			<div class="col-md-9">
				<h1 class="page-title">Manage Important Dates</h1>    
<div style="padding-top: 20px; padding-left: 20px">
<div class="container">
 <div class= "row">
	 <div class="col-md-2">
		 <a href="@routes.DatesController.setDatesBlank" class="thumbnail" class="thumbnail">
			<img src ="@routes.Assets.at("images/Calendar.png")" alt=""><p style="text-align: center; font-size: 18px">Term Dates</p>
		 </a>
	 </div>
 </div><!-- end of row -->
 </div><!-- end container -->
 </div>
 </div>
 
}