@adminMain2(Html("Form samples"), nav="studentOptions") {
			<div class="col-md-9">
				<h1 class="page-title">Manage Student</h1>    
<div style="padding-top: 20px">
 <div class= "row">
	 <div class="col-md-3">
		 <a href="@routes.BasicStudent.blank" class="thumbnail">
		  <figure style="margin: 0px auto;">
			<img src ="@routes.Assets.at("images/addStudent_256.png")" alt="">
			<figcaption><font size="4">Admit Student</font></figcaption>
		  </figure>
		 </a>
	 </div>
	 <div class="col-md-3">
		  <a href="@routes.EditStudentController.blank2" class="thumbnail">
		  <figure style="margin: 0px auto;">
			<img src ="@routes.Assets.at("images/editStudent_256.png")" alt="">
			<figcaption><font size="4">Student Details</font></figcaption>
		  </figure>
		 </a>
	 </div>
  </div>
  
 </div>
 </div> 
}